.footer {
  position: relative;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--canvas);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 900;
  border-top: 5px solid var(--sub_canvas);
}
.footer-fix {
  position: sticky;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background-color: var(--sub_canvas);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 900;
}
.footer-fix-title {
  color: var(--secondary);
}
.footer-fix-sub-title {
  color: var(--canvas);
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.so-op {
  cursor: pointer;
  display: flex;
  color: var(--canvas);
  gap: 5px;
  font-weight: normal;
}
